:root {
  --header-height: 80px;
  --color-main: #fff;
  --logo-size: 70px; }

* {
  font-family: "Poppins", sans-serif !important; }

body {
  background: url(../images/backimage2.png);
  background-size: cover;
  object-fit: cover;
  min-height: 100vh; }

.link-hover:hover {
  background-color: transparent !important;
  text-shadow: 1px 1px 5px #999 !important; }

.dropdown .dropdown-menu {
  backdrop-filter: blur(1px);
  box-shadow: 0.1px 0.1px 5px #999;
  inset: 0px !important;
  min-width: 2rem !important;
  min-height: 5rem !important; }

.header {
  height: var(--header-height); }
  .header .header-left {
    z-index: 2000 !important; }
  .header .logo {
    height: var(--logo-size) !important;
    margin-right: 10px; }
  .header p {
    font-size: 14px; }

.footer {
  top: 100% !important;
  position: sticky !important;
  margin-top: auto !important; }
  .footer img {
    width: 21px !important;
    height: 21px !important; }

.main-color {
  color: var(--color-main); }

.object-fit-cover {
  object-fit: cover !important; }

.d-inline-flex {
  display: inline-flex; }

.h-70vh {
  height: 80vh;
  width: 61%;
  height: 61%; }

.top-0 {
  top: 0; }

.left-0 {
  left: 0; }

.me-45 {
  margin-right: 2.5rem !important; }

.ms-45 {
  margin-left: 2.5rem !important; }

.map-img {
  margin-left: -50px !important; }

.carousel-indicators {
  margin-left: 40px !important; }
  .carousel-indicators button {
    width: 80px !important;
    height: 2px !important; }

.carousel .carousel-inner {
  margin: 120px 0 0 -125px !important;
  padding: 80px 170px; }

.openmenu {
  background-color: rgba(26, 84, 148, 0.9);
  backdrop-filter: blur(10px);
  color: var(--color-main);
  display: none;
  width: 100%;
  height: max-content !important;
  z-index: 1000 !important;
  top: 0%;
  position: absolute; }

.search {
  border-bottom: 1px solid #fff; }
  .search input {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: var(--color-main) !important; }
    .search input:focus {
      outline: none !important; }

::placeholder {
  color: var(--color-main) !important; }

.menu-links a {
  text-decoration: none; }

.menu-drop {
  background-color: rgba(27, 102, 178, 0.8) !important;
  backdrop-filter: brightness(100%); }

.f-0 {
  font-size: 0px; }

.f-1 {
  font-size: 1px; }

.f-2 {
  font-size: 2px; }

.f-3 {
  font-size: 3px; }

.f-4 {
  font-size: 4px; }

.f-5 {
  font-size: 5px; }

.f-6 {
  font-size: 6px; }

.f-7 {
  font-size: 7px; }

.f-8 {
  font-size: 8px; }

.f-9 {
  font-size: 9px; }

.f-10 {
  font-size: 10px; }

.f-11 {
  font-size: 11px; }

.f-12 {
  font-size: 12px; }

.f-13 {
  font-size: 13px; }

.f-14 {
  font-size: 14px; }

.f-15 {
  font-size: 15px; }

.f-16 {
  font-size: 16px; }

.f-17 {
  font-size: 17px; }

.f-18 {
  font-size: 18px; }

.f-19 {
  font-size: 19px; }

.f-20 {
  font-size: 20px; }

.f-21 {
  font-size: 21px; }

.f-22 {
  font-size: 22px; }

.f-23 {
  font-size: 23px; }

.f-24 {
  font-size: 24px; }

.f-25 {
  font-size: 25px; }

.f-26 {
  font-size: 26px; }

.f-27 {
  font-size: 27px; }

.f-28 {
  font-size: 28px; }

.f-29 {
  font-size: 29px; }

.f-30 {
  font-size: 30px; }

.f-31 {
  font-size: 31px; }

.f-32 {
  font-size: 32px; }

.f-33 {
  font-size: 33px; }

.f-34 {
  font-size: 34px; }

.f-35 {
  font-size: 35px; }

.f-36 {
  font-size: 36px; }

.f-37 {
  font-size: 37px; }

.f-38 {
  font-size: 38px; }

.f-39 {
  font-size: 39px; }

.f-40 {
  font-size: 40px; }

.f-41 {
  font-size: 41px; }

.f-42 {
  font-size: 42px; }

.f-43 {
  font-size: 43px; }

.f-44 {
  font-size: 44px; }

.f-45 {
  font-size: 45px; }

.f-46 {
  font-size: 46px; }

.f-47 {
  font-size: 47px; }

.f-48 {
  font-size: 48px; }

.f-49 {
  font-size: 49px; }

.f-50 {
  font-size: 50px; }

.f-51 {
  font-size: 51px; }

.f-52 {
  font-size: 52px; }

.f-53 {
  font-size: 53px; }

.f-54 {
  font-size: 54px; }

.f-55 {
  font-size: 55px; }

.f-56 {
  font-size: 56px; }

.f-57 {
  font-size: 57px; }

.f-58 {
  font-size: 58px; }

.f-59 {
  font-size: 59px; }

.f-60 {
  font-size: 60px; }

@media (max-width: 420px) {
  .f-md-0 {
    font-size: 0px !important; }

  .f-md-1 {
    font-size: 1px !important; }

  .f-md-2 {
    font-size: 2px !important; }

  .f-md-3 {
    font-size: 3px !important; }

  .f-md-4 {
    font-size: 4px !important; }

  .f-md-5 {
    font-size: 5px !important; }

  .f-md-6 {
    font-size: 6px !important; }

  .f-md-7 {
    font-size: 7px !important; }

  .f-md-8 {
    font-size: 8px !important; }

  .f-md-9 {
    font-size: 9px !important; }

  .f-md-10 {
    font-size: 10px !important; }

  .f-md-11 {
    font-size: 11px !important; }

  .f-md-12 {
    font-size: 12px !important; }

  .f-md-13 {
    font-size: 13px !important; }

  .f-md-14 {
    font-size: 14px !important; }

  .f-md-15 {
    font-size: 15px !important; }

  .f-md-16 {
    font-size: 16px !important; }

  .f-md-17 {
    font-size: 17px !important; }

  .f-md-18 {
    font-size: 18px !important; }

  .f-md-19 {
    font-size: 19px !important; }

  .f-md-20 {
    font-size: 20px !important; }

  .f-md-21 {
    font-size: 21px !important; }

  .f-md-22 {
    font-size: 22px !important; }

  .f-md-23 {
    font-size: 23px !important; }

  .f-md-24 {
    font-size: 24px !important; }

  .f-md-25 {
    font-size: 25px !important; }

  .f-md-26 {
    font-size: 26px !important; }

  .f-md-27 {
    font-size: 27px !important; }

  .f-md-28 {
    font-size: 28px !important; }

  .f-md-29 {
    font-size: 29px !important; }

  .f-md-30 {
    font-size: 30px !important; }

  .f-md-31 {
    font-size: 31px !important; }

  .f-md-32 {
    font-size: 32px !important; }

  .f-md-33 {
    font-size: 33px !important; }

  .f-md-34 {
    font-size: 34px !important; }

  .f-md-35 {
    font-size: 35px !important; }

  .f-md-36 {
    font-size: 36px !important; }

  .f-md-37 {
    font-size: 37px !important; }

  .f-md-38 {
    font-size: 38px !important; }

  .f-md-39 {
    font-size: 39px !important; }

  .f-md-40 {
    font-size: 40px !important; }

  .f-md-41 {
    font-size: 41px !important; }

  .f-md-42 {
    font-size: 42px !important; }

  .f-md-43 {
    font-size: 43px !important; }

  .f-md-44 {
    font-size: 44px !important; }

  .f-md-45 {
    font-size: 45px !important; }

  .f-md-46 {
    font-size: 46px !important; }

  .f-md-47 {
    font-size: 47px !important; }

  .f-md-48 {
    font-size: 48px !important; }

  .f-md-49 {
    font-size: 49px !important; }

  .f-md-50 {
    font-size: 50px !important; }

  .f-md-51 {
    font-size: 51px !important; }

  .f-md-52 {
    font-size: 52px !important; }

  .f-md-53 {
    font-size: 53px !important; }

  .f-md-54 {
    font-size: 54px !important; }

  .f-md-55 {
    font-size: 55px !important; }

  .f-md-56 {
    font-size: 56px !important; }

  .f-md-57 {
    font-size: 57px !important; }

  .f-md-58 {
    font-size: 58px !important; }

  .f-md-59 {
    font-size: 59px !important; }

  .f-md-60 {
    font-size: 60px !important; }

  .header {
    margin-top: 30px !important; }
    .header p {
      font-size: 9px !important; }
    .header .header-left {
      margin-left: 30px !important; }
    .header .header-right {
      margin-right: -5px !important; }

  .nav-link {
    font-size: 10px !important; }

  .carousel {
    margin: -80px 0 0 0 !important; }
    .carousel .carousel-inner {
      margin: 100px 0 0 -50px !important;
      padding: 40px 30px; }
    .carousel .carousel-indicators {
      margin-left: 80px !important; }
      .carousel .carousel-indicators button {
        margin-left: 20px !important; }
    .carousel .carousel-item h2 {
      font-size: 24px !important; }

  .buta-image {
    margin-top: 70px !important; }

  .dropdown-2 {
    display: block; }
    .dropdown-2 button {
      padding: 0.25rem 0.3rem !important; }

  .social i {
    font-size: 12px !important; }
  .social img {
    width: 12px !important;
    margin-top: 5px !important;
    height: 12px !important; } }
@media (max-width: 769px) {
  .carousel {
    margin-top: -100px !important; }
    .carousel .carousel-inner {
      margin: 100px 0 0 -60px !important;
      padding: 50px 90px; }
    .carousel .carousel-indicators {
      margin-left: 10px !important; }
      .carousel .carousel-indicators button {
        margin-left: 20px; }

  .buta-image {
    margin-top: 20px !important; }

  .dropdown {
    display: none; }

  .dropdown-2 {
    display: block; } }
@media (min-width: 992px) {
  .visually-lg-hidden {
    visibility: hidden; } }

@media (min-width: 992px) {
  .home-bg-before:before {
    content: '';
    position: absolute;
    width: 750px;
    height: 600px;
    top: 0;
    right: 0;
    background-image: url("../images/Group 257.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; } }

.header-link a {
  text-decoration: none; }

.history {
  background-color: rgba(26, 84, 148, 0.7);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  width: 97% !important;
  max-width: 97 !important; }

@media (max-width: 420px) {
  .header {
    margin-top: 30px !important; }
    .header p {
      font-size: 10px !important; }

  .dropdown {
    display: none; }

  .dropdown-2 {
    display: block; } }
@media (max-width: 420px) {
  .dropdown {
    display: none; }

  .dropdown-2 {
    display: block; } }
.box {
  background-color: #1a5494;
  border-radius: 20px;
  padding: 20px;
  margin: 5px 0; }

.car {
  position: relative !important; }
  .car .top-icon {
    margin: 60px 0 0 -130px; }

.bottom-box .bottom-icon {
  margin: 65px 0 0 -130px !important; }

.box2 {
  margin-right: -110px !important;
  margin-left: 100px !important; }

@media (max-width: 420px) {
  .history .box img {
    width: 251px !important;
    height: 100% !important; }
  .history .box2 {
    margin: 0 !important; }
  .history .top-icon {
    margin: 50px 0 0 -100px !important; }
  .history .bottom-icon {
    margin: 65px 0 0 -135px; }

  .firstbox img {
    margin-top: 100px !important; }

  .bottom-box {
    height: 165px;
    width: 159px; }
    .bottom-box .bottom-icon {
      margin: 45px 0 0 -110px !important; } }
@media (max-width: 769px) {
  .history .top-icon {
    margin: 50px 0 0 -120px; } }
@media (max-width: 1024px) {
  .history .box2 {
    margin: 0 !important; } }
@media (max-width: 1400px) {
  .history .box2 {
    margin: 0 !important; } }
