
:root {
    --header-height: 80px;
    --color-main: #fff;
    --logo-size: 70px;
}

*{
    font-family: 'Poppins', sans-serif!important;
}

body{
    background:url(../images/backimage2.png);
    background-size:cover;
    object-fit:cover;
    min-height:100vh;
}

.header {
    height: var(--header-height);

    .header-left{
        z-index:3;
    }

    .logo {
        height: var(--logo-size) !important;
        margin-right:10px;
    }
    p{
        font-size:14px;
    }
}

.dropdown {
    .dropdown-menu{    
        backdrop-filter: blur(1px);
        box-shadow:0.1px 0.1px 5px #999;
        inset: 0px !important;
        min-width: 2rem!important;
        min-height:5rem!important;

        a:hover{
            background-color:transparent;
            text-shadow:1px 1px 5px #999;
        }
       
        }
}

.footer{
    top: 100% !important;
    position: sticky !important;
    margin-top:auto!important;
    img{
        width: 21px !important;
        height:21px!important;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  MİX CODE 
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 

.main-color {
    color: var(--color-main);
}

.object-fit-cover {
    object-fit: cover !important;
}


.d-inline-flex {
    display: inline-flex;
}

.h-70vh {
    height: 80vh;
    width:61%;
    height:61%;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}
.me-45{
    margin-right:2.5rem!important;
}
.ms-45{
    margin-left:2.5rem!important;
}

//////////////////////////////////////////////
@for $i from 0 through 60 {
    .f-#{$i} {
        font-size: #{$i}px;
    }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  home page 
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 

.header-link{

    a{
        text-decoration:none;
    }
}

.history{ 
    background-color: rgba(26, 84, 148, 0.7);
    backdrop-filter:blur(3px);
    border-radius:20px;
    width: 97% !important;
    // max-width:97!important;

}














////////////////////////////////////////////////////////////

@media (max-width: 420px) {
    .header{
        margin-top:30px!important;
        p{
            font-size:9px!important;
        }
        .header-left{
            margin-left:30px!important;
        }
        .header-right{
            margin-right:-10px!important;
        }
    }

    .dropdown-2{
        display:block;

        button{
            padding:0.25rem 0.3rem!important;
        }   
    }

    .social {

        i{
            font-size:12px!important;
        }
        img{
            width: 12px !important;
            margin-top:5px!important;
            height: 12px !important;
        }
    }
}

//////////////////////////////////////////////

// @media (max-width:769px){

// }