:root {
    --header-height: 80px;
    --color-main: #fff;
    --logo-size: 60px;
}

*{
    font-family: 'Poppins', sans-serif!important;
}

body{
    background:url(../images/backimage2.png);
    background-size:cover;
    object-fit:cover;
    min-height:100vh;
}
.dropdown {
    .dropdown-menu{    
        backdrop-filter: blur(1px);
        box-shadow:0.1px 0.1px 5px #999;
        a:hover{
            background-color:transparent;
            text-shadow:1px 1px 5px #999;
        }
    }
}

.header {
    height: var(--header-height);

    .header-items{
        z-index:3;
    }

    .logo {
        height: var(--logo-size) !important;
    }
    p{
        font-size:12px;
    }
}

.footer{
    top: 100% !important;
    position: sticky !important;
    margin-top:auto!important;
}

.openmenu{
    background-color:transparent;
    backdrop-filter: blur(10px);
    color:white;
    display: none;
    width:100%;
    height:max-content;
    z-index:2;
    top:0%;
    position:fixed;
    a:hover{
        background-color:transparent;
        text-shadow:1px 1px 5px #999;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////OPEN MENU
.search{
    border-bottom:1px solid #fff;
    input{
        background-color:transparent;
        border:none;
        padding:10px;
        color:#fff!important;
        &:focus{
            outline: none !important;
        // box-shadow: 0 0 10px #719ECE;
        }
    }
  
}
::placeholder{
    color: #fff !important;
}

.menu-links{
    a{
        text-decoration:none;

    }
}

.menu-drop{
    background-color:rgba(27, 102, 178, 0.8)!important;
    backdrop-filter: brightness(100%);
}

/////////////////////////////////////////////////////////// PAGE MAIN

.header-link{

    a{
        text-decoration:none;
    }
}

.history{
    background-color: rgba(26, 84, 148, 0.7);
    backdrop-filter:blur(3px);
    border-radius:20px;
    width: 97% !important;
    max-width:97!important;
   
}































@for $i from 0 through 60 {
    .f-#{$i} {
        font-size: #{$i}px;
    }
}
//////////////////////////////       MEDIA 420PX
@media (max-width: 420px) {
    .header{
        margin-top:30px!important;
        p{
            font-size:10px!important;
        }
    }
    .dropdown{
        display:none;
    }
    .dropdown-2{
        display:block;
    }
}
///////////////////////////////

/////////////////////////////// MEDIA 769PX
@media (max-width: 420px) {
    .dropdown{
        display:none;
    }
    .dropdown-2{
        display:block;
    }
}