
:root {
    --header-height: 80px;
    --color-main: #fff;
    --logo-size: 70px;
}

*{
    font-family: 'Poppins', sans-serif!important;
}

body{
    background:url(../images/backimage2.png);
    background-size:cover;
    object-fit:cover;
    min-height:100vh;
    // overflow: hidden;
}
    


.header {
    height: var(--header-height);
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  MİX CODE 
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 

.main-color {
    color: var(--color-main);
}

.object-fit-cover {
    object-fit: cover !important;
}


.d-inline-flex {
    display: inline-flex;
}

.h-70vh {
    height: 80vh;
    width:61%;
    height:61%;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}
.me-45{
    margin-right:2.5rem!important;
}
.ms-45{
    margin-left:2.5rem!important;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  home page 
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 


.map-img{
    margin-left:-50px!important;
}

.text-area{
    margin:170px 0 0 100px;
}


.social {
    img{
        width: 20px !important;
        
        height: 28px !important;
    }
}


////////////////////////////
@for $i from 0 through 60 {
    .f-#{$i} {
        font-size: #{$i}px;
    }
}
//////////////////////////

@media (max-width: 420px) {

 
    .header{
        margin-top:30px!important;

    }

    .buta-image{
        margin-top:70px!important;
    }


    .social {
        img{
            width: 20px !important;
            
            height: 28px !important;
        }
    }

    .text-area{
        margin:80px 0 0 50px;
        
        h2{
            font-size:18px!important;
        }
    }

}

////////////////////////////////

@media (max-width:769px){


   .buta-image{
    margin-top:20px!important;
}

.text-area{
    margin:100px 0 0 50px;
    
    h2{
        font-size:24px!important;
    }
}
}

////////////////////////////////
@media (max-width:1024px){

    .text-area{
        margin:50px 0 0 30px;
        
        h2{
            font-size:24px!important;
        }
    }

}

///////////////////////////////

.visually-lg-hidden {
    @media (min-width: 992px) {
        visibility: hidden;
    }
}

.home-bg-before {
    @media (min-width: 992px) {
        &:before {
            content: '';
            position: absolute;
            width: 750px;
            height: 600px;
            top: 0;
            right: 0;
            background-image: url('../images/Group 257.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        
    }
}